:root {
  --chocolat-icon-left: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path style="fill: rgba(255,255,255,0.8);" d="M 19.03125 4.28125 L 8.03125 15.28125 L 7.34375 16 L 8.03125 16.71875 L 19.03125 27.71875 L 20.46875 26.28125 L 10.1875 16 L 20.46875 5.71875 Z"/></svg>');
  --chocolat-icon-right: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path style="fill: rgba(255,255,255,0.8);" d="M 12.96875 4.28125 L 11.53125 5.71875 L 21.8125 16 L 11.53125 26.28125 L 12.96875 27.71875 L 23.96875 16.71875 L 24.65625 16 L 23.96875 15.28125 Z"/></svg>');
  --chocolat-icon-close: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path style="fill: rgba(255,255,255,0.8);" d="M 5 5 L 5 27 L 27 27 L 27 5 Z M 7 7 L 25 7 L 25 25 L 7 25 Z M 11.6875 10.3125 L 10.28125 11.71875 L 14.5625 16 L 10.21875 20.34375 L 11.625 21.75 L 15.96875 17.40625 L 20.28125 21.71875 L 21.6875 20.3125 L 17.375 16 L 21.625 11.75 L 20.21875 10.34375 L 15.96875 14.59375 Z"/></svg>');
  --chocolat-icon-loader: url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width%3D%2238%22 height%3D%2238%22%3E  %3Cg transform%3D%22translate(1 1)%22 stroke-width%3D%222%22 fill%3D%22none%22 fill-rule%3D%22evenodd%22%3E    %3Ccircle stroke-opacity%3D%22.2%22 stroke%3D%22%23000%22 cx%3D%2218%22 cy%3D%2218%22 r%3D%2218%22%2F%3E    %3Cpath d%3D%22M36 18C36 8 28 0 18 0%22 stroke%3D%22%23fff%22%3E      %3CanimateTransform attributeName%3D%22transform%22 type%3D%22rotate%22 from%3D%220 18 18%22 to%3D%22360 18 18%22 dur%3D%221s%22 repeatCount%3D%22indefinite%22%2F%3E    %3C%2Fpath%3E  %3C%2Fg%3E%3C%2Fsvg%3E");
  --chocolat-icon-fullscreen: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path style="fill: rgba(255,255,255,0.8);" d="M 5 5 L 5 27 L 27 27 L 27 5 Z M 7 7 L 25 7 L 25 25 L 7 25 Z M 9 10 L 9 22 L 23 22 L 23 10 Z M 11 12 L 21 12 L 21 14 L 11 14 Z M 11 16 L 21 16 L 21 20 L 11 20 Z"/></svg>');
}

.chocolat-zoomable.chocolat-zoomed {
  cursor: zoom-out;
}
.chocolat-open {
  overflow: hidden;
}
.chocolat-overlay {
  transition:
    opacity 0.4s ease,
    visibility 0s 0.4s ease;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
}
.chocolat-overlay.chocolat-visible {
  transition:
    opacity 0.4s,
    visibility 0s;
  visibility: visible;
  opacity: 0.8;
}

.chocolat-wrapper {
  transition:
    opacity 0.4s ease,
    visibility 0s 0.4s ease;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0;
  left: 0;
  top: 0;
  z-index: 16;
  color: #fff;
  visibility: hidden;
}
.chocolat-wrapper.chocolat-visible {
  transition:
    opacity 0.4s,
    visibility 0s;
  opacity: 1;
  visibility: visible;
}

.chocolat-zoomable .chocolat-img {
  cursor: zoom-in;
}
.chocolat-loader {
  transition: opacity 0.3s;
  height: 38px;
  width: 38px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -19px;
  margin-top: -19px;
  z-index: 11;
  background: var(--chocolat-icon-loader);
  opacity: 0;
}
.chocolat-loader.chocolat-visible {
  opacity: 1;
}

.chocolat-image-wrapper {
  position: fixed;
  width: 0px;
  height: 0px;
  left: 50%;
  top: 50%;
  z-index: 14;
  text-align: left;
  transform: translate(-50%, -50%);
}

.chocolat-image-wrapper .chocolat-img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.chocolat-wrapper .chocolat-left {
  width: 50px;
  height: 100px;
  cursor: pointer;
  background: var(--chocolat-icon-left) 50% 50% / 2rem auto no-repeat;
  z-index: 17;
  visibility: hidden;
}

.chocolat-layout {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.chocolat-image-canvas {
  transition: opacity 0.2s;
  opacity: 0;
  flex-grow: 1;
  align-self: stretch;
}
.chocolat-image-canvas.chocolat-visible {
  opacity: 1;
}
.chocolat-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.chocolat-wrapper .chocolat-right {
  width: 50px;
  height: 100px;
  cursor: pointer;
  background: var(--chocolat-icon-right) 50% 50% / 2rem auto no-repeat;
  z-index: 17;
  visibility: hidden;
}
.chocolat-wrapper .chocolat-right.active {
  visibility: visible;
}
.chocolat-wrapper .chocolat-left.active {
  visibility: visible;
}
.chocolat-wrapper .chocolat-top {
  height: 50px;
  overflow: hidden;
  z-index: 17;
  flex-shrink: 0;
}
.chocolat-wrapper .chocolat-close {
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  background: var(--chocolat-icon-close) 50% 50% / 2rem auto no-repeat;
}
.chocolat-wrapper .chocolat-bottom {
  height: 40px;
  font-size: 12px;
  z-index: 17;
  padding-left: 15px;
  padding-right: 15px;
  background: rgba(0, 0, 0, 0.2);
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.chocolat-wrapper .chocolat-set-title {
  display: inline-block;
  padding-right: 15px;
  line-height: 1;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.chocolat-wrapper .chocolat-pagination {
  float: right;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 15px;
  /*border-right: 1px solid rgba(255, 255, 255, 0.2);*/
}
.chocolat-wrapper .chocolat-fullscreen {
  width: 16px;
  height: 40px;
  background: var(--chocolat-icon-fullscreen) 50% 50% / 1rem auto no-repeat;
  display: block;
  cursor: pointer;
  float: right;
}
.chocolat-wrapper .chocolat-description {
  display: inline-block;
  flex-grow: 1;
  text-align: left;
}

/* no container mode*/
body.chocolat-open > .chocolat-overlay {
  z-index: 15;
}
body.chocolat-open > .chocolat-loader {
  z-index: 15;
}
body.chocolat-open > .chocolat-image-wrapper {
  z-index: 17;
}

/* container mode*/
.chocolat-in-container .chocolat-wrapper,
.chocolat-in-container .chocolat-image-wrapper,
.chocolat-in-container .chocolat-overlay {
  position: absolute;
}
.chocolat-in-container {
  position: relative;
}

.chocolat-zoomable.chocolat-zooming-in .chocolat-image-wrapper,
.chocolat-zoomable.chocolat-zooming-out .chocolat-image-wrapper {
  transition:
    width 0.2s ease,
    height 0.2s ease;
}
.chocolat-zoomable.chocolat-zooming-in .chocolat-img,
.chocolat-zoomable.chocolat-zooming-out .chocolat-img {
  transition: margin 0.2s ease;
}

/* uncomment to hide controls when zoomed-in*/
/*
.chocolat-zoomable .chocolat-top,
.chocolat-zoomable .chocolat-bottom,
.chocolat-zoomable .chocolat-right,
.chocolat-zoomable .chocolat-left {
    transition: opacity .3s ease, visibility 0s .3s;
   opacity: 1;
}

.chocolat-zoomable.chocolat-zoomed .chocolat-top,
.chocolat-zoomable.chocolat-zoomed .chocolat-bottom,
.chocolat-zoomable.chocolat-zoomed .chocolat-right,
.chocolat-zoomable.chocolat-zoomed .chocolat-left {
    visibility: hidden;
    opacity: 0;
}
*/
