---
pagination:
  data: collections.categories
  size: 1
  alias: category
permalink: /category/{{ category | slugify }}/
layout: layouts/base.njk
bodyclass: "listing"
hideBreadcrumbs: true
eleventyComputed:
  title: "Categorized as “{{ category }}”"
---

{%- from "macros/macros.njk" import item with context -%}

{% block content %}
  <ol>
    {% for post in collections.categories[category] %}
      <li>
        {{ item({
          post: post,
          level: "strong",
          categories: true,
          categoriesType: "tiny primary",
          categoriesBase: "/category",
          tags: true,
          tagsType: "tiny secondary",
          tagsBase: "/tag",
          labels: true,
          labelsType: "tiny tertiary",
          labelsBase: "/label"
        }) }}
      </li>
    {% endfor %}
  </ol>
{% endblock %}
