---
title: Categories
permalink: /categories/
layout: layouts/base.njk
---

{% block content %}
  <column>
    {% for item, items in collections.categories %}
      {% set itemUrl %}/category/{{ item | slugify }}/{% endset %}
      <a href="{{ itemUrl }}" role="button" secondary>{{ item }}
        <sup>{{ items | length }}</sup>
      </a>
    {% endfor %}
  </column>
{% endblock %}
