---
title: Labels
permalink: /labels/
layout: layouts/base.njk
---

{% block content %}
  <column>
    {% for item, items in collections.labels %}
      {% set itemUrl %}/label/{{ item | slugify }}/{% endset %}
      <a href="{{ itemUrl }}" role="button" secondary>{{ item }}
        <sup>{{ items | length }}</sup>
      </a>
    {% endfor %}
  </column>
{% endblock %}
