---
title: Tags
permalink: /tags/
layout: layouts/base.njk
---

{% block content %}
  <column>
    {% for item in collections.all | getAllTags %}
      {% set itemUrl %}/tag/{{ item | slugify }}/{% endset %}
      <a href="{{ itemUrl }}" role="button" secondary>{{ item }}
        <sup>{{ collections[item] | length }}</sup>
      </a>
    {% endfor %}
  </column>
{% endblock %}
