.details {
  grid,
  columns {
    > * {
      article {
        margin-left: 0;
        margin-bottom: 0.5rem;
      }
      h3 {
        margin-bottom: 0.5rem;
      }
    }
    article:not([card]) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      img {
        align-self: center;
        width: fit-content;
        height: auto;
      }
    }
  }
  article {
    dl,
    ol,
    ul {
      padding-left: 1rem;
      li {
        img {
          display: inline;
          width: auto;
          height: 1.5em;
          margin: 0 0.5rem;
          aspect-ratio: auto;
          line-height: var(--line-height);
          vertical-align: middle;
        }
      }
    }
  }
  h2,
  h3,
  h4 {
    width: 100%;
  }
  &.classes images {
    align-self: flex-start;
    img {
      max-width: 4rem;
    }
  }
}
