masonry {
  display: block;
  gap: 0.5rem;
  > brick {
    display: block;
    position: relative;
    width: 100%;
    min-height: 2rem;
    margin: calc(var(--spacing) / 2);
    border-radius: var(--border-radius);
    background: var(--card-background-color);
    break-inside: avoid;
    page-break-inside: avoid;
    border: 2px solid var(--muted-border-color);
    a {
      display: block;
    }
    h2,
    h3,
    h4 {
      margin: 0.5rem;
    }
    img {
      margin: 0;
    }
  }
  > sizer {
    display: block;
    width: 100%;
  }
  img {
    object-fit: contain;
    width: 100%;
    max-width: 100%;
    height: auto;
    &.square {
      aspect-ratio: 1 / 1;
    }
  }
}
.filters {
  .button-group {
    display: inline-block;
  }
  [type="search"] {
    width: auto;
    min-width: 10rem;
    height: calc(
      1rem * var(--line-height) + var(--form-element-spacing-vertical) +
        var(--border-width)
    );
    margin-bottom: 0;
    padding: calc(var(--form-element-spacing-vertical) / 1.75)
      calc(var(--form-element-spacing-horizontal) / 1.5);
    vertical-align: middle;
    border-radius: var(--border-radius) !important;
  }
}
@media (min-width: 576px) {
  masonry {
    brick,
    sizer {
    }
  }
}
@media (min-width: 768px) {
  masonry {
    brick,
    sizer {
      width: calc(50% - 0.55rem);
    }
  }
}
@media (min-width: 992px) {
  masonry {
    brick,
    sizer {
      width: calc(33% - 0.55rem);
    }
  }
}
@media (min-width: 1200px) {
  masonry {
    brick,
    sizer {
      width: calc(25% - 0.55rem);
    }
  }
}
