.archive {
  h2,
  h3,
  h4 {
    position: relative;
    width: fit-content;
    margin: 0;
    &:after {
      content: attr(data-count);
      position: absolute;
      top: 0;
      right: -1rem;
      color: var(--muted-color);
      font-size: 1rem;
    }
  }
  .generic-item {
    margin-top: 0;
  }
  grid[flex] {
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--muted-border-color);
    & > * {
      flex-basis: 100%;
      max-width: 100%;
      overflow-wrap: anywhere;
    }
    @media (min-width: 768px) {
      & > * {
        flex-basis: calc(75% - var(--grid-gap));
        max-width: calc(75% - var(--grid-gap));
        &:first-of-type {
          flex-basis: calc(25% - var(--grid-gap));
          max-width: calc(25% - var(--grid-gap));
        }
      }
    }
  }
}
