.galleries {
  h2 {
    margin: 1rem 0.25rem 0 0.25rem;
    &[special-header] {
      margin: 1rem 0 0 -1rem;
      padding: 0.5rem 1rem;
    }
  }
  h3 {
    margin: calc(var(--typography-spacing-vertical) / 2) 0;
  }
  h4 {
    margin: 1rem 0 0 0;
  }
  a {
    &:hover,
    &:focus,
    &[active] {
      img {
        border-color: var(--primary-hover);
      }
    }
    img {
      border: 1px solid transparent;
    }
  }
  .swiper .swiper-slide {
    display: flex;
    justify-content: center;
  }
  .swiper .swiper-slide img {
    max-width: 100%;
  }
  .swiper-button-next,
  .swiper-button-prev {
    z-index: 12;
    &:after {
      font-size: 160%;
      font-weight: bold;
    }
  }
  .swiper-pagination {
    position: relative;
    font-size: 0.75rem;
  }
  .swiper-wrapper {
    z-index: 11;
  }
  .thumbnails {
    height: 6rem;
    box-sizing: border-box;
  }
  .thumbnails .swiper-slide {
    width: 20%;
    height: 100%;
    opacity: 0.4;
  }
  .thumbnails .swiper-slide-thumb-active {
    opacity: 1;
  }
  .thumbnails .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
