.home {
  h2.image-replacement {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
  }
  grid {
    img {
      border: 1px solid #000000;
    }
    article {
      margin: calc(var(--block-spacing-vertical) / 2) 0;
      padding: var(--block-spacing-horizontal);
      h3 {
        margin: 0;
      }
    }
  }
}

hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  header,
  column content {
    margin: 0 auto;
    @media (min-width: 576px) {
      max-width: 510px;
    }
    @media (min-width: 768px) {
      max-width: 700px;
    }
    @media (min-width: 992px) {
      max-width: 920px;
    }
    @media (min-width: 1200px) {
      max-width: 1130px;
    }
  }
  column {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem auto 0 auto;
    padding: 2rem 2rem 4rem 2rem;
    p {
      color: #ffffff;
      font-weight: 500;
      text-shadow:
        0px 0px 4px rgba(0, 0, 0, 1),
        0px 0px 0px rgba(0, 0, 0, 1);
      &:nth-of-type(1) {
        font-weight: 600;
        font-size: 1.2rem;
      }
      &:nth-of-type(2) {
        font-size: 1.44rem;
        font-weight: 800;
      }
    }
  }
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

[data-theme="light"],
:root:not([data-theme="dark"]) {
  .home grid img:hover {
    box-shadow: #000000 0 0 3px 0;
  }
  hero {
    header[role="banner"] {
      strong,
      a {
        color: #e6e6e6;
        text-shadow:
          0px 0px 4px #000000,
          0px 0px 0px #000000;
      }
      a,
      #sun {
        fill: #e6e6e6;
        stroke: #e6e6e6;
        &:hover,
        &:focus,
        &[active] {
          color: #ffffff;
          fill: #ffffff;
          stroke: #ffffff;
        }
      }
    }
    column {
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 15%,
        rgba(225, 233, 239, 0.4) 80%,
        rgba(255, 255, 255, 1) 95%,
        rgba(255, 255, 255, 1) 100%
      );
    }
  }
}
[data-theme="dark"] {
  .home grid img:hover {
    box-shadow: #666666 0 0 3px 0;
  }
  hero {
    box-shadow:
      inset 0px 120px 56px 0px rgba(0, 0, 0, 0.4),
      inset 0px 0px 32px -24px rgba(0, 0, 0, 1);
    header[role="banner"] {
      text-shadow:
        0px 0px 4px #000000,
        0px 0px 0px #000000;
    }
    column {
      background: linear-gradient(
        to bottom,
        rgba(17, 25, 31, 0) 15%,
        rgba(17, 25, 31, 0.4) 70%,
        rgba(17, 25, 31, 1) 85%,
        rgba(17, 25, 31, 1) 100%
      );
    }
  }
}

hero {
  @media (min-width: 240px) {
    background-image: url("/img/hero-background/pirates-wallpaper_240.webp");
    background-image: image-set(
      "/img/hero-background/pirates-wallpaper_240.webp" type("image/webp"),
      "/img/hero-background/pirates-wallpaper_240.jpg" type("image/jpeg")
    );
  }
  @media (min-width: 320px) {
    background-image: url("/img/hero-background/pirates-wallpaper_320.webp");
    background-image: image-set(
      "/img/hero-background/pirates-wallpaper_320.webp" type("image/webp"),
      "/img/hero-background/pirates-wallpaper_320.jpg" type("image/jpeg")
    );
  }
  @media (min-width: 500px) {
    background-image: url("/img/hero-background/pirates-wallpaper_500.webp");
    background-image: image-set(
      "/img/hero-background/pirates-wallpaper_500.webp" type("image/webp"),
      "/img/hero-background/pirates-wallpaper_500.jpg" type("image/jpeg")
    );
  }
  @media (min-width: 640px) {
    background-image: url("/img/hero-background/pirates-wallpaper_640.webp");
    background-image: image-set(
      "/img/hero-background/pirates-wallpaper_640.webp" type("image/webp"),
      "/img/hero-background/pirates-wallpaper_640.jpg" type("image/jpeg")
    );
  }
  @media (min-width: 800px) {
    background-image: url("/img/hero-background/pirates-wallpaper_800.webp");
    background-image: image-set(
      "/img/hero-background/pirates-wallpaper_800.webp" type("image/webp"),
      "/img/hero-background/pirates-wallpaper_800.jpg" type("image/jpeg")
    );
  }
  @media (min-width: 1200px) {
    background-image: url("/img/hero-background/pirates-wallpaper_1200.webp");
    background-image: image-set(
      "/img/hero-background/pirates-wallpaper_1200.webp" type("image/webp"),
      "/img/hero-background/pirates-wallpaper_1200.jpg" type("image/jpeg")
    );
  }
  @media (min-width: 1600px) {
    background-image: url("/img/hero-background/pirates-wallpaper_1600.webp");
    background-image: image-set(
      "/img/hero-background/pirates-wallpaper_1600.webp" type("image/webp"),
      "/img/hero-background/pirates-wallpaper_1600.jpg" type("image/jpeg")
    );
  }
  @media (min-width: 2000px) {
    background-image: url("/img/hero-background/pirates-wallpaper_2000.webp");
    background-image: image-set(
      "/img/hero-background/pirates-wallpaper_2000.webp" type("image/webp"),
      "/img/hero-background/pirates-wallpaper_2000.jpg" type("image/jpeg")
    );
  }
  @media (min-width: 2600px) {
    background-image: url("/img/hero-background/pirates-wallpaper_2600.webp");
    background-image: image-set(
      "/img/hero-background/pirates-wallpaper_2600.webp" type("image/webp"),
      "/img/hero-background/pirates-wallpaper_2600.jpg" type("image/jpeg")
    );
  }
  @media (min-width: 3200px) {
    background-image: url("/img/hero-background/pirates-wallpaper_3200.webp");
    background-image: image-set(
      "/img/hero-background/pirates-wallpaper_3200.webp" type("image/webp"),
      "/img/hero-background/pirates-wallpaper_3200.jpg" type("image/jpeg")
    );
  }
}
