{% if params.images | length > 1 %}
  <div id="gallery-{{ params.id }}" class="swiper" aria-label="{{ params.name }}">
    <div class="swiper-wrapper">
      {% for image in params.images %}
        <div href="/{{ image }}" class="swiper-slide">
          <img lightbox src="/{{ image }}" loading="lazy" alt="">
          <div class="swiper-lazy-preloader"></div>
        </div>
      {% endfor %}
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-scrollbar"></div>
    <div class="swiper-pagination"></div>
  </div>
  <div id="thumbnails-{{ params.id }}" class="swiper" thumbsSlider>
    <div class="swiper-pagination"></div>
    <div class="thumbnails swiper-wrapper">
      {% for image in params.images %}
        <div class="swiper-slide">
          <img src="/{{ image }}" alt="">
        </div>
      {% endfor %}
    </div>
  </div>
  <script>
    thumbnails["{{ params.id }}"] = new Swiper("#thumbnails-{{ params.id }}", {
      spaceBetween: 10,
      slidesPerView: "auto",
      freeMode: true,
      watchSlidesProgress: true
    });
    galleries["{{ params.id }}"] = new Swiper("#gallery-{{ params.id }}", {
      autoHeight: true,
      centeredSlides: true,
      centerInsufficientSlides: true,
      spaceBetween: 10,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev"
      },
      thumbs: {
        swiper: thumbnails["{{ params.id }}"]
      },
      pagination: {
        el: ".swiper-pagination",
        type: "fraction"
      }
    });
  </script>
{% else %}
  {% for image in params.images %}
    {% if params.link %}
      <a href="{{ params.link }}">
      {% endif %}
      <img {% if not params.link %}lightbox{% endif %} src="/{{ image }}" alt="{{ image.name | default(params.name) }}" class="gallery-image" loading="lazy" />
      {% if params.link %}
      </a>
    {% endif %}
    {% if params.description %}
      {{ params.description | markdown | safe }}
    {% endif %}
  {% endfor %}
{% endif %}

{% if params.publisher or params.published %}
  <small>
  {% endif %}
  {% if params.publisher %}
    {{ params.publisher }}
  {% endif %}
  {% if params.publisher and params.published %}
&ndash;
{% endif %}
  {% if params.published %}
    <time datetime="{{ params.published }}">{{ params.published }}</time>
  {% endif %}
  {% if params.publisher or params.published %}
  </small>
{% endif %}
