<div class="generic-item">
  <a href="{{ params.post.url }}">
    <{{ params.level | default("h2") }} class="title">{{ params.post.data.title }}</{{ params.level | default("h2") }}>
  </a>
  <span class="text-muted">
    {{ dateElement({ page: params.post }) }}
  </span>
  {% if params.excerpt and params.post.content | metaDescription | length > 1 %}
    <p>{{ params.post.content | metaDescription }}</p>
  {% endif %}
  {% if params.categories and params.post.data.categories %}
    {{ tagsList({ base: params.categoriesBase, tags: params.post.data.categories, type: params.categoriesType }) }}
  {% endif %}
  {% if params.tags and params.post.data.tags %}
    {{ tagsList({ base: params.tagsBase, tags: params.post.data.tags, type: params.tagsType }) }}
  {% endif %}
  {% if params.labels and params.post.data.labels %}
    {{ tagsList({ base: params.labelsBase, tags: params.post.data.labels, type: params.labelsType }) }}
  {% endif %}
</div>
