{%- macro dateElement(params) -%}
  {% include "./date.njk" %}
{%- endmacro -%}

{%- macro tagsList(params) -%}
  {% include "./tags.njk" %}
{%- endmacro -%}

{%- macro sectionNavigation(params) -%}
  {% include "./section-navigation.njk" %}
{%- endmacro -%}

{%- macro item(params) -%}
  {% include "./item.njk" %}
{%- endmacro -%}

{%- macro detail(params) -%}
  {% include "./detail.njk" %}
{%- endmacro -%}

{%- macro masonry(params) -%}
  {% include "./masonry.njk" %}
{%- endmacro -%}

{%- macro workItems(params) -%}
  {% include "./work-items.njk" %}
{%- endmacro -%}

{%- macro icon(params) -%}
  {% include "./icon.njk" %}
{%- endmacro -%}

{%- macro gallery(params) -%}
  {% include "./gallery.njk" %}
{%- endmacro -%}

{%- macro catalog(params) -%}
  {% include "./catalog.njk" %}
{%- endmacro -%}
