---
# Metadata comes from _data/metadata.js
permalink: /feed/feed.json
layout: layouts/blank.njk
---
{
	"version": "https://jsonfeed.org/version/1.1",
	"title": "{{ metadata.title }}",
	"language": "{{ metadata.language }}",
	"home_page_url": "{{ metadata.url | addPathPrefixToFullUrl }}",
	"feed_url": "{{ permalink | htmlBaseUrl(metadata.url) }}",
	"description": "{{ metadata.description }}",
	"author": {
		"name": "{{ metadata.author.name }}",
		"url": "{{ metadata.author.url }}"
	},
	"items": [
		{%- for post in collections.pages | reverse %}
  {%- set absolutePostUrl = post.url | htmlBaseUrl(metadata.url) %}
		{
			"id": "{{ absolutePostUrl }}",
			"url": "{{ absolutePostUrl }}",
			"title": "{{ post.data.title }}",
			"content_html": {% if post.templateContent %}{{ post.templateContent | transformWithHtmlBase(absolutePostUrl, post.url) | jsonstringify | safe }}
  {% else %}""{% endif %},
			"date_published": "{{ post.date | dateToRfc3339 }}"
		}
		{% if not loop.last %},{% endif %}
{%- endfor %}
]
}
