{% extends 'layouts/base.njk' %}

{% block content %}
  <section>
    {% if content %}
      <p>{{ content | safe }}</p>
    {% elseif description %}
      {{ description | markdown | safe }}
    {% endif %}
    {% if image %}
      <img src="/{{ image }}" alt="{{ title }}" />
    {% endif %}
    {% for section in sections %}
      <h2 special-header>{{ section.name }}</h2>
      {% if section.image %}
        <img src="/{{ section.image }}" alt="{{ section.name }}" />
      {% endif %}
      {% if section.description %}
        {{ section.description | markdown | safe }}
      {% endif %}
      {% if section.origin %}
        <a role="button" href="{{ section.origin }}">Origin</a>
      {% endif %}
      {% for item in section.items %}
        {% if item.name %}
          <h3>{{ item.name }}</h3>
        {% endif %}
        <audio src="{{ item.url }}" controls preload="none"></audio>
        {% if item.description %}
          {{ item.description | markdown | safe }}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </section>
{% endblock %}
