{% set bodyclass = "galleries" %}

{% extends 'layouts/base.njk' %}

{% block content %}
  <section>
    {% if content %}
      {{ content | markdown | safe }}
    {% elseif description %}
      {{ description | markdown | safe }}
    {% endif %}
    {% if image %}
      <img lightbox src="/{{ image }}" alt="{{ title }}" />
    {% endif %}
    {{ catalog({
      items: items
    }) }}
  </section>
{% endblock %}
