{% set bodyclass = "galleries" %}

{% extends 'layouts/base.njk' %}

{% block stylesheets %}
  {{ super() }}
  <link rel="stylesheet" href="/css/swiper-bundle.min.css" media="print" onload="this.media='all'">
  <script crossorigin="anonymous" src="/js/swiper-bundle.min.js"></script>
  <script>
    var galleries = {};
    var thumbnails = {};
    var currentSlides = {};
    var lightboxes = {};
  </script>
{% endblock %}

{% block content %}
  <section>
    {% if content %}
      {{ content | markdown | safe }}
    {% elseif description %}
      {{ description | markdown | safe }}
    {% endif %}
    {% if image %}
      <img lightbox src="/{{ image }}" alt="{{ title }}" />
    {% endif %}
    {% for section in sections %}
      <h2 special-header>{{ section.name }}</h2>
      {{ catalog({
        name: item.name,
        items: section.items
      }) }}
    {% endfor %}
  </section>
{% endblock %}
