{% extends 'layouts/base.njk' %}

{% block content %}
  <section>
    {% if banner %}
      <img src="{{ page.url }}banner.jpg" alt="{{ title }}" />
    {% endif %}
    {% if description %}
      {{ description | markdown | safe }}
    {% endif %}
    {% if sections %}
      {{ sectionNavigation({ sections: sections }) }}
    {% endif %}
    {% if content %}
      {{ content | markdown | safe }}
    {% endif %}
  </section>
{% endblock %}
