{% extends 'layouts/base.njk' %}

{% block content %}
  <div class="headline grid post">
    <div class="twelve">
      <h1>{{ title }}</h1>
      <h2>{{ subtitle }}</h2>
    </div>
    <div class="twelve">
      <div class="byline">
        <p class="author">
          {% if author %}
            By {{ author }}
          {% else %}
            By {{ metadata.author.name }}
          {% endif %}
        </p>
        <p class="text-muted">
          {{ dateElement({ page: page }) }}
          <span title="Time to read" class="readingtime_wrapper">
            <i class="readingtime_icon icon-clock-o"></i>
            <span class="readingtime">
              {{ content | readingTime }}
            </span>
          </span>
        </p>
      </div>
    </div>
  </div>
  <main class="grid post">
    <div class="twelve">
      <article>
        {{ content | safe }}
      </article>
    </div>
  </section>
{% endblock %}
