{% set bodyclass = "details" %}

{% extends 'layouts/base.njk' %}

{% block content %}
  <section>
    {% if content %}
      {{ content | markdown | safe }}
    {% elseif description %}
      {{ description | markdown | safe }}
    {% endif %}
    {% if image %}
      <img src="/{{ image }}" alt="{{ title }}" />
    {% endif %}
    {% for section in sections %}
      <h2 special-header>{{ section.name }}</h2>
      <grid flex halves>
        {% for column in section.columns %}
          <column>
            {% if column.name %}
              <article card special>
                {% if column.icon %}
                  {% include 'icons/' ~ column.icon %}
                {% endif %}
                <h3>{{ column.name }}</h3>
              </article>
            {% endif %}
            {% for item in column.items %}
              {{ detail({
                level: "h4",
                name: item.name,
                image: item.image,
                points: item.points,
                description: item.description,
                addendum: item.addendum
              }) }}
            {% endfor %}
          </column>
        {% endfor %}
      </grid>
    {% endfor %}
  </section>
{% endblock %}
